<div>{{ section.settings.text_paragraph }}</div>

{% schema %}
{
  "name": "test section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "text_paragraph",      
      "label": "Paragraph"
    }    
  ]
}
{% endschema %}